* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
}

::-webkit-scrollbar {
  background-color: #121212;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #323232;
  width: 5px;
}

::selection {
  background-color: #323232;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  color: #fff;
}
